<template>
    <div class="text-center">
        <h1>Admin BankMini</h1>
        <nuxt-link to="/"><b-button variant="outline-secondary"> Back to login </b-button></nuxt-link>
        <nuxt-link to="/createAccount"><b-button variant="outline-secondary"> Create Account </b-button></nuxt-link>
        <nuxt-link to="/setFee"><b-button variant="outline-secondary"> Set Fee </b-button></nuxt-link>
        
        <Nuxt/>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>