<template>
  <div>

        <b-container >
        <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="8">      
                <b-card class="formCreate">
                    <a href="http://randomiban.com/?country=Netherlands" target="_blank"> <b-button variant="outline-primary"> IBAN Number </b-button></a>
                    <hr>
                        <b-form v-on:submit.prevent="onSubmit" >
                            <b-form-group label-cols="5" label-cols-lg="3" label="IBAN Number : " label-for="input-default">
                                <b-form-input id="input-default" type="text" v-model="dataForm.IBANNumber" required></b-form-input>
                            </b-form-group>
                            <b-form-group label-cols="5" label-cols-lg="3" label="IDCard : " label-for="input-default">
                                <b-form-input id="input-default" type="text" v-model="dataForm.IDCard" required></b-form-input>
                            </b-form-group>
                            <b-form-group label-cols="5" label-cols-lg="3" label="Pincode : " label-for="input-default">
                                <b-form-input type="text" id="input-default" v-model="dataForm.pinCode" required></b-form-input>
                            </b-form-group>
                            <b-button type="submit" variant="outline-success" >Create</b-button>
                        </b-form>
                </b-card>
            </b-col>
            <b-col></b-col>
        </b-row>
        </b-container>
        <b-table striped hover :items="listAccountBank"></b-table>
  </div>
</template>

<script>
export default {
layout:"admin",
data() {
    return {
        dataForm:{
            IBANNumber : "",
            IDCard : "",
            pinCode : ""
        }
    }
},methods: {
   async onSubmit(){
        await this.$axios.$post('/ManageAccount/CreateAccount',this.dataForm,{
        headers:{
          Accept:"application/json"
        }
      }).then(async()=>{
        this.listAccountBank =  await this.$axios.$get(`/ManageAccount/ListAccount`).then(res=>res.data).catch(err => console.log(err.response)) 
      }
      ).catch(err => {console.log(err.response)
      })        
    }
},
async asyncData({$axios}) {
    const listAccountBank =  await $axios.$get(`/ManageAccount/ListAccount`).then(res=>res.data).catch(err => console.log(err.response))
    return {listAccountBank}
},async mounted() {
        this.listAccountBank =  await this.$axios.$get(`/ManageAccount/ListAccount`).then(res=>res.data).catch(err => console.log(err.response)) 
    }
}
</script>

<style scoped>

</style>