<template>
  <div>
            <b-container class="bv-example-row">
        <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="8">
              <b-card >
              <b-form-group id="input-group-idCard" label="ID Card:" label-for="idCard">
                <b-form-input
                  id="idCard"
                  v-model="form.idCard"
                  placeholder="Enter your ID card"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-password" label="Password:" label-for="password">
                <b-form-input
                  type="password"
                  id="password"
                  v-model="form.password"
                  placeholder="Enter your password"
                  required
                ></b-form-input>
              </b-form-group>
              <b-alert variant="danger" v-if="show" show dismissible>Your IDCard or password incorrect.</b-alert>
              <b-button @click.exact="onSubmit" @click.shift="adminPage" variant="outline-primary" > Login </b-button>
              </b-card>
      </b-col>
            <b-col></b-col>
        </b-row>
            </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form:{
        idCard:"",
        password:""
      },
      show:false
    }
  },methods: {
    async onSubmit(){
      await this.$axios.$post('/CustomerAction/Login',this.form,{
        headers:{
          Accept:"application/json"
        }
      }).then(res =>{
        this.$store.commit('localStorage/setCustomerId',res.data.customerId) 
        this.$store.commit('setCustomerId', res.data.customerId)
        this.$router.push(`/listAccount`)}
      ).catch(err => {console.log(err.response)
      this.show=true
      })
    },
  adminPage(){
    this.$router.push(`/createAccount`)
  }
  },
}
</script>

<style>

</style>
