<template>
    <div class="card-div">
        <nuxt-link to="/"> <b-button variant="outline-secondary"> Back to Login </b-button></nuxt-link>
        <b-card-group deck>
                <b-card v-for="item in listAccount" :key="item.bankAccountId"
                    :title="item.accoutName"
                    tag="article"
                    style="max-width: 20rem;"
                    class="mb-2"
                    >
                    <b-card-text>
                    <p>IBAN number : {{item.ibanNumber}} </p>
                    <h3> Balance : {{item.balance}} </h3>
                    </b-card-text>

                    <b-button variant="outline-info" @click="showModal('Deposit','',item.ibanNumber,1)">Deposit</b-button>
                    <b-button variant="outline-info" @click="showModal('Withdraw',item.ibanNumber,'',2)">Withdraw</b-button>
                    <b-button variant="outline-info" @click="showModal('Tranfer',item.ibanNumber,'',3)">Tranfer</b-button>

                    <b-button variant="outline-info" class="history" v-b-toggle="'collapse-' + item.ibanNumber"> History</b-button>
                    <b-collapse :id="'collapse-' + item.ibanNumber" v-model="visible" class="mt-2">
                        <b-card >
                            <div v-for="data in item.listHistory" :key="data.transactionId">
                                <p>{{data.dateAction}}</p>  <span>{{data.typeTransactionName}}</span> : <span class="amontText" :style="{color:data.colorAmount}">{{data.amount}}</span>
                                <p>Balance : <span>{{data.balance}}</span></p>
                                <hr>
                            </div>
                        </b-card>
                    </b-collapse>
                </b-card>

        </b-card-group>


        <b-modal ref="my-modal" hide-footer :title="titleModal">
            <div class="d-block text-center">
              <p v-if="showFrom">  From : <input type="text" v-model="dataDetail.fromIBANNumber"></p>
              <p v-if="showTo">  To : <input type="text" v-model="dataDetail.toIBANNumber"></p>
              <p> Amount: <input v-model.number="dataDetail.amount" type="number"></p>
              <p> pinCode: <input v-model="dataDetail.pinCode" type="password"></p>
            <b-alert variant="danger" v-if="show" show dismissible> {{errMsg}} </b-alert>
            </div>
            <b-button class="mt-3" variant="outline-success" block @click="submit">Submit</b-button>
            <b-button class="mt-2" variant="outline-danger" block @click="hideModal">Close</b-button>
        </b-modal>

    </div>
</template>

<script>

export default {
    data() {
        return {
            titleModal : "",
            dataDetail :{
                            fromIBANNumber:"",
                            toIBANNumber:"",
                            amount:'',
                            pinCode : "",
                            typeAction :1
                        },
            show: false,
            errMsg:"",
            showFrom:false,
            showTo:false,
        }
    },
    methods: {
        showModal(title,from,to,type) {
            this.titleModal = title
            this.dataDetail.fromIBANNumber = from
            this.dataDetail.toIBANNumber = to
            this.dataDetail.typeAction = type
            if(type===1){
                this.showFrom=false
                this.showTo=true
            }else if(type===2){
                this.showFrom=true
                this.showTo=false
            }else{
                this.showFrom=true
                this.showTo=true
            }
            this.$refs['my-modal'].show()
      },
        hideModal() {
            this.show = false
            this.dataDetail.pinCode =""
            this.dataDetail.amount =''
            this.$refs['my-modal'].hide()
      },
        async submit() {
            if(this.dataDetail.typeAction===1){
                await this.$axios.$post('/CustomerAction/Deposit',this.dataDetail,{
                headers:{
                    Accept:"application/json"
                    }
                }).then(async ()=>{
                    this.listAccount =  await this.$axios.$get(`/CustomerAction/ListAccount?customerId=${this.$store.state.localStorage.customerId}`).then(res=>res.data).catch(err => console.log(err.response)) 
                    this.show = false
                    this.dataDetail.pinCode =""
                    this.dataDetail.amount =''
                    this.$refs['my-modal'].hide()
                }).catch(err=>{
                    this.errMsg = err.response.data.message
                    this.show = true
                    })
                
             
            }else if(this.dataDetail.typeAction===2){
                await this.$axios.$post('/CustomerAction/Withdraw',this.dataDetail,{
                headers:{
                    Accept:"application/json"
                    }
                }).then(async ()=>{
                    this.listAccount =  await this.$axios.$get(`/CustomerAction/ListAccount?customerId=${this.$store.state.localStorage.customerId}`).then(res=>res.data).catch(err => console.log(err.response)) 
                    this.show = false
                    this.dataDetail.pinCode =""
                    this.dataDetail.amount =''
                    this.$refs['my-modal'].hide()
                }).catch(err=>{
                    this.errMsg = err.response.data.message
                    this.show = true
                    })
            }else if(this.dataDetail.typeAction===3){
                await this.$axios.$post('/CustomerAction/Tranfer',this.dataDetail,{
                headers:{
                    Accept:"application/json"
                    }
                }).then(async ()=>{
                    this.listAccount =  await this.$axios.$get(`/CustomerAction/ListAccount?customerId=${this.$store.state.localStorage.customerId}`).then(res=>res.data).catch(err => console.log(err.response)) 
                    this.show = false
                    this.dataDetail.pinCode =""
                    this.dataDetail.amount =''
                    this.$refs['my-modal'].hide()
                }).catch(err=>{
                    this.errMsg = err.response.data.message
                    this.show = true
                    })
            }

      },
    }
    ,async asyncData({$axios,store }) {
        const listAccount =  await $axios.$get(`/CustomerAction/ListAccount?customerId=${store.state.localStorage.customerId}`).then(res=>res.data).catch(err => console.log(err.response))
        return {listAccount}
    },async mounted() {
        this.listAccount =  await this.$axios.$get(`/CustomerAction/ListAccount?customerId=${this.$store.state.localStorage.customerId}`).then(res=>res.data).catch(err => console.log(err.response)) 
    },
}
</script>

<style scoped>
.card-div{
    margin-left: 5%;
    margin-right: 5%;
}
.history{
    width: 80%;
    margin-top: 5px;
}
.amontText{
    font-size: 15px;
    font-weight: bold;
}
</style>