<template>
 <b-container >
        <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="8">      
                <b-card class="formCreate">
                    <h2>Set Fee</h2>
                    <hr>

                    <b-form v-on:submit.prevent="onSubmit" >
                        <b-form-group label-cols="5" label-cols-lg="3" label="DepositFee : " label-for="input-default">
                            <b-form-input id="input-default" type="number" step="any" v-model.number="dataUpdate.depositFee" required></b-form-input>
                        </b-form-group>
                        <b-form-group label-cols="5" label-cols-lg="3" label="WithdrawFee : " label-for="input-default">
                            <b-form-input id="input-default" type="number" step="any" v-model.number="dataUpdate.withdrawFee" required></b-form-input>
                        </b-form-group>
                        <b-form-group label-cols="5" label-cols-lg="3" label="TranferFee : " label-for="input-default">
                            <b-form-input type="number" id="input-default" step="any" v-model.number="dataUpdate.tranferFee" required></b-form-input>
                        </b-form-group>
                        <b-button type="submit" variant="outline-success" >Update</b-button>
                    </b-form>
                </b-card>
            </b-col>
            <b-col></b-col>
        </b-row>
        </b-container>
</template>

<script>
export default {
    layout:"admin",
    data() {
        return {
            dataUpdate:{depositFee : '',
                        withdrawFee : '',
                        tranferFee : ''
                        }
        }
    }
    ,methods: {
      async onSubmit(){
        await this.$axios.$post('/ManageAccount/UpdateFee',this.dataUpdate,{
        headers:{
          Accept:"application/json"
            }
                }).then(async()=>{
                    const dataFee =  await this.$axios.$get(`/ManageAccount/FeeDetail`).then(res=>res.data).catch(err => console.log(err.response)) 
                    this.dataUpdate.depositFee = dataFee.find((res)=>{ return res.typeTransactionId===1 }).fee
                    this.dataUpdate.withdrawFee = dataFee.find((res)=>{ return res.typeTransactionId===2 }).fee
                    this.dataUpdate.tranferFee = dataFee.find((res)=>{ return res.typeTransactionId===3 }).fee
                    alert("Update Suucess.")
                }
                ).catch(err => {console.log(err.response)
                }) 
        }  
    }
    ,async mounted() {
        const dataFee = await this.$axios.$get(`/ManageAccount/FeeDetail`).then(res=>res.data).catch(err => console.log(err.response)) 
        
        this.dataUpdate.depositFee = dataFee.find((res)=>{ return res.typeTransactionId===1 }).fee
        this.dataUpdate.withdrawFee = dataFee.find((res)=>{ return res.typeTransactionId===2 }).fee
        this.dataUpdate.tranferFee = dataFee.find((res)=>{ return res.typeTransactionId===3 }).fee
    },
}

</script>

<style>

</style>